<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.dzimmermann.rcp.basicplatform.plugin" name="Basic Platform Plug-In Management" schema="schema/de.dzimmermann.rcp.basicplatform.plugin.exsd"/>
   <extension-point id="de.dzimmermann.rcp.basicplatform.serverlist" name="Basic Platform Remote Server List" schema="schema/de.dzimmermann.rcp.basicplatform.serverlist.exsd"/>
   <extension-point id="de.dzimmermann.rcp.basicplatform.resource" name="Basic Platform Internal Resource" schema="schema/de.dzimmermann.rcp.basicplatform.resource.exsd"/>
   <extension-point id="de.dzimmermann.rcp.basicplatform.helper.search" name="Basic Platform Helper - Search View Filter" schema="schema/de.dzimmermann.rcp.basicplatform.helper.search.exsd"/>
   <extension
         point="de.dzimmermann.rcp.basicplatform.resource">
      <resource
      		resource-provider="de.dzimmermann.rcp.basicplatform.util.PFSCoreResourceProviderImpl">
            <resource-entry path="resources/default_icons.jar"/>
            <resource-entry path="resources/fff_flags_icons.jar"/>
            <resource-entry path="resources/fff_mini_icons.jar"/>
            <resource-entry path="resources/fff_silk_icons.jar"/>
            <!-- <resource-entry path="resources/fugue_icons.jar"/> -->
            <resource-entry path="resources/fugue_icons_3_4_1.jar"/>
            <resource-entry path="resources/ipoque_icons.jar"/>
            <resource-entry
                  path="resources/providericons.jar">
            </resource-entry>
      </resource>
   </extension>
   <extension
         point="de.dzimmermann.rcp.basicplatform.serverlist">
      <truststore
            path="resources/truststore.jks">
      </truststore>
      <server
            name="Local"
            url="http://localhost:8080/">
      </server>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.dzimmermann.rcp.basicplatform.application"
            name="Basic Platform">
         <property
               name="windowImages"
               value="icons/ipqlogo_16.gif,icons/ipqlogo_32.gif,icons/ipqlogo_64.gif,icons/ipqlogo_128.gif">
         </property>
         <property
               name="appName"
               value="Basic Platform">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/ipqlogo_128.gif">
         </property>
         <property
               name="aboutText"
               value="Basic Platform&#x0A;&#x0A;Version: 0.5.3&#x0A;&#x0A;(c) Copyright Daniel Zimmermann 2008-2011.  Alle Rechte vorbehalten.">
         </property>
         <!--
         <property
               name="applicationXMI"
               value="de.dzimmermann.rcp.basicplatform/LegacyIDE.e4xmi">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/de.dzimmermann.rcp.basicplatform/images/">
         </property>
         -->
      </product>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.dzimmermann.rcp.basicplatform.SSDToolApplication">
         </run>
      </application>
   </extension>
   <!--
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="de.dzimmermann.rcp.basicplatform.SSDToolEntryPoint"
            favicon="icons/ipqlogo_16.gif"
            id="de.dzimmermann.rcp.basicplatform.SSDToolEntryPoint.branding"
            servletName="classic"
            themeId="org.eclipse.rap.rwt.theme.Default"
            title="Basic Platform">
      </branding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="de.dzimmermann.rcp.basicplatform.SSDToolEntryPoint"
            id="de.dzimmermann.rcp.basicplatform.SSDToolEntryPoint"
            parameter="basic-platform">
      </entrypoint>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Within this category all basic commands for the platform are collected."
            id="de.dzimmermann.rcp.basicplatform.mainActionCategory"
            name="Basic Platform Commands">
      </category>
      <command
            categoryId="de.dzimmermann.rcp.basicplatform.mainActionCategory"
            description="%command.openconsole.desc"
            id="de.dzimmermann.rcp.basicplatform.command.openConsole"
            name="%command.openconsole">
      </command>
      <command
            categoryId="de.dzimmermann.rcp.basicplatform.mainActionCategory"
            description="%command.navigator.desc"
            id="de.dzimmermann.rcp.basicplatform.command.openNavigator"
            name="%command.navigator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.dzimmermann.rcp.basicplatform.action.SystemConsoleActionDelegate"
            commandId="de.dzimmermann.rcp.basicplatform.command.openConsole">
      </handler>
      <handler
            class="de.dzimmermann.rcp.basicplatform.action.NavigatorActionDelegate"
            commandId="de.dzimmermann.rcp.basicplatform.command.openNavigator">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="platform"
               label="Platform"
               mnemonic="P"
               tooltip="This is the main menu of the Basic Platform.">
            <command
                  commandId="de.dzimmermann.rcp.basicplatform.command.openNavigator"
                  icon="icons/tree_mode.gif"
                  label="%menu.navigator.name"
                  mnemonic="N"
                  style="push"
                  tooltip="%toolbar.navigator.desc">
            </command>
            <command
                  commandId="de.dzimmermann.rcp.basicplatform.command.openConsole"
                  icon="icons/defaultview_misc.gif"
                  label="%menu.console.name"
                  mnemonic="C"
                  style="push"
                  tooltip="%toolbar.navigator.desc">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="basic-platform.toolbar.default">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="%toolbar.save"
                  style="push"
                  tooltip="%toolbar.save.desc">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="%toolbar.saveas"
                  style="push"
                  tooltip="%toolbar.saveas.desc">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=basic-platform.toolbar.default">
         <toolbar
               id="basic-platform.toolbar.content">
            <command
                  commandId="de.dzimmermann.rcp.basicplatform.command.openNavigator"
                  icon="icons/tree_mode.gif"
                  label="%toolbar.navigator"
                  style="push"
                  tooltip="%toolbar.navigator.desc">
            </command>
            <command
                  commandId="de.dzimmermann.rcp.basicplatform.command.openConsole"
                  icon="icons/defaultview_misc.gif"
                  label="%toolbar.console"
                  style="push"
                  tooltip="%toolbar.console.desc">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.dzimmermann.rcp.basicplatform.command.openConsole"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C">
      </key>
      <key
            commandId="de.dzimmermann.rcp.basicplatform.command.openNavigator"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+N">
      </key>
      <key
            commandId="org.eclipse.ui.help.quickStartAction"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+W">
      </key>
      <key
            commandId="org.eclipse.ui.window.preferences"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+P">
      </key>
      <key
            commandId="org.eclipse.ui.help.aboutAction"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+A">
      </key>
      <key
            commandId="org.eclipse.equinox.p2.ui.sdk.install"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+I">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.dzimmermann.rcp.basicplatform.ui.Perspective"
            id="de.dzimmermann.rcp.basicplatform.ui.reportConfigurationPerspective"
            name="Basic Platform Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
      <perspectiveExtension
            targetID="de.dzimmermann.rcp.basicplatform.ui.reportConfigurationPerspective">
         <view
               closeable="true"
               id="de.dzimmermann.rcp.basicplatform.ui.view.FormsPluginNavigatorView"
               minimized="false"
               moveable="true"
               ratio="0.30"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <viewShortcut
               id="de.dzimmermann.rcp.basicplatform.ui.view.FormsPluginNavigatorView">
         </viewShortcut>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
         <viewShortcut
               id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="de.dzimmermann.rcp.basicplatform.handler.BasicPlatformStates">
         <variable
               name="de.dzimmermann.rcp.basicplatform.activities.default"
               priorityLevel="workbench">
         </variable>
         <variable
               name="de.dzimmermann.rcp.basicplatform.task.id"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.dzimmermann.rcp.basicplatform.views"
            name="Basic Platform">
      </category>
      <view
            category="de.dzimmermann.rcp.basicplatform.views"
            class="de.dzimmermann.rcp.basicplatform.ui.view.FormsPluginNavigatorView"
            icon="icons/tree_mode.gif"
            id="de.dzimmermann.rcp.basicplatform.ui.view.FormsPluginNavigatorView"
            name="Navigator"
            restorable="true">
         <description>
            Within this view a list of possible tasks will be displayed.
Each task can be grouped as a tree with subelements, where the sub-elements describe specific task, such as the modification of a set of report configuration files.
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.dzimmermann.rcp.basicplatform.ui.preference.InternalPreferencePage"
            id="de.dzimmermann.rcp.basicplatform.ui.preference.SSDToolPreferencePage"
            name="Basic Platform">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.dzimmermann.rcp.basicplatform.ui.preference.InternalPreferenceInitializer">
      </initializer>
      <modifier
            class="de.dzimmermann.rcp.basicplatform.ui.preference.InternalPreferenceModifyListener">
      </modifier>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.dzimmermann.rcp.basicplatform.activities.default">
         <with
               variable="de.dzimmermann.rcp.basicplatform.activities.default">
            <equals
                  value="ENABLED">
            </equals>
         </with>
      </definition>
      <definition
            id="de.dzimmermann.rcp.basicplatform.task.id">
         <with
               variable="de.dzimmermann.rcp.basicplatform.task.id">
            <equals
                  value="EMPTY">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <category
            id="de.dzimmermann.rcp.basicplatform.activity.category"
            name="PFS Activities Category">
      </category>
      <activity
            id="de.dzimmermann.rcp.basicplatform.activity"
            name="PFS  Activity: Disable Workbench Annotation Navigation">
         <enabledWhen>
            <with variable="activePartId">    
               <equals value="com.sequenom.ivd.actitivities.unwantedActionSet">   
               </equals>
            </with>
            <!--
            <reference
                  definitionId="de.dzimmermann.rcp.basicplatform.activities.default">
            </reference>
            -->
         </enabledWhen>
      </activity>
      <categoryActivityBinding
            activityId="de.dzimmermann.rcp.basicplatform.activity"
            categoryId="de.dzimmermann.rcp.basicplatform.activity.category">
      </categoryActivityBinding>
      <!--
      <activityPatternBinding
            activityId="de.dzimmermann.rcp.basicplatform.activity"
            pattern="org.eclipse.ui.*[A|a]ctionSet.*">
      -->
      <activityPatternBinding
            activityId="de.dzimmermann.rcp.basicplatform.activity"
            pattern="org\.eclipse\.ui\.edit\.text\..*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="de.dzimmermann.rcp.basicplatform.activity"
            pattern="org\.eclipse\.ui\.navigate\..*">
      </activityPatternBinding>
   </extension>
   <!--
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/e4_default.css"
            id="org.eclipse.e4.ui.css.theme.e4_default.noos"
            label="Default Theme">
      </theme>
      <theme
            basestylesheeturi="css/e4_classic_winxp.css"
            id="org.eclipse.e4.ui.css.theme.e4_classic"
            label="Classic">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_gtk.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="GTK"
            os="linux">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_mac.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="Mac"
            os="macosx">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_win7.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="Win7"
            os="win32"
            os_version="6.1">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_winxp_blu.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="Win XP Blue"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_winxp_olv.css"
            id="org.eclipse.e4.ui.css.theme.e4_default.xpolive"
            label="Win XP Olive"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="css/e4_classic_win7.css"
            id="org.eclipse.e4.ui.css.theme.e4_classic"
            label="Win 7 Classic"
            os="win32"
            os_version="6.1">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_gtk.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="Solaris"
            os="solaris">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_gtk.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="AIX"
            os="aix">
      </theme>
      <theme
            basestylesheeturi="css/e4_classic_winxp.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="HPUX"
            os="hpux">
      </theme>
   </extension>
   -->
</plugin>
